.cred-container{
    display: none;
    width: auto;
    height: auto;
    margin-left: 2vw;
}

.cred-btns{
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.prev,
.add,
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    background-color: none;
    border: none;
    width: 4vw;
    height: 4vw;
    transition: background-color o.3s ease, border 0.3s ease;
}

.prev:hover,
.add:hover,
.next:hover{
    background-color: lightgray;
    border: 1px solid black;
}

.add img{
    filter: invert(100%);
}

.credential-header{
    font-weight: bold;
    font-size: 2vw;
    color:#004624;
    margin-top: 0px;

}

.credential-header-container{
    padding-top: 2vh;
}

.picture-container{
    width: 95%;
    height: 60vh;
    border-radius: 15px;
    border: 1px solid #004624;
    
}

.image-display{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.image-display .cred-image{
    margin-top: auto;
    margin-bottom: auto;
    max-width: 90%;
    max-height:60vh;
    border-radius: 15px;
}