.cred-container{
    display: none;
    width: auto;
    height: auto;
    margin-left: 2vw;
}

.cred-btns{
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.credential-header{
    font-weight: bold;
    font-size: 2vw;
    color:#004624;
    margin-top: 0px;

}

.credential-header-container{
    padding-top: 2vh;
}

.picture-container{
    width: 95%;
    height: 60vh;
    border-radius: 15px;
    border: 1px solid #004624;
    
}

.image-display{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.image-display .cred-image{
    margin-top: auto;
    margin-bottom: auto;
    max-width: 90%;
    max-height:60vh;
    border-radius: 15px;
}