.cred-container{
    background-color: white;
    border-radius: 15px;
    width: 23.5vw;
    height: auto;
    overflow: hidden;
}

.cred-header{
    font-weight: bold;
    font-size: 1vw;
    color:#004624;
}

.filetitle-wrapper{
    display: flex;
    align-items: center;
    padding: 1.5vh 1.5vw;
    margin-top: 1vh;
    transition: background-color 0.3s ease, color 0.3s ease;
    gap: 1vw;
}

.filetitle-wrapper:hover{
    background-color: #808080;
    color: white;
}

.credentials-preview-container{
    margin-top: 2vh;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.credentials-preview-container img{
    max-width: 60vw;
    max-height: 60vh;
}

.credinputlabel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
}

.credinputlabel:hover{
    transform: scale(1.2);
}

.credinputlabel img{
    filter: invert(52%) sepia(0%) saturate(686%) hue-rotate(147deg) brightness(96%) contrast(86%);
}

.image-preview-screen{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
}

.image-preview-modal{
    width: 30vw;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}