.report-screen,
.modal-screen,
.view-note-screen{
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(0,0,0,0.5);
    z-index: 10000;
    top:0;
    left: 0;
    animation: fade-in 0.3s ease;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.report-card,
.modal-card,
.view-note-card{
    background-color: white;
    border-radius: 15px;
    border: none;
    height: auto;
    width: 30vw;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: justify;
    animation: slideDown 0.3s ease;
    padding-bottom: 2vh;
    padding-top: 2vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

@keyframes slideDown{
    from{
        transform: translateY(-40%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.report-title-container,
.notes-card-header,
.view-note-card-header{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn{
    background-color: white;
    border-radius: 50%;
    border: none;
    transition: background-color 0.3s ease;
}

.close-btn:hover{
    background-color: lightgray;
}

.report-header,
.notes-header,
.view-notes-header{
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

.header-details{
    margin-top: 1vh;
    color: gray;
    font-size: 1vw;
    font-weight: light;
}

.report-subheader,
.reason-header{
    font-size: 1.5vw;
    font-weight: bold;
}

.notes-details{
    height: 20vh;
    width: 92%;
    border-radius: 15px;
    margin-top: 1vh;
    margin-right: 1vh;
    padding: 1vw;
    resize: none;
}
input:checked + label div{
    background-color: rgba(255, 0, 0, 0.4);
    color:red;
}

.choices-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.choice{
    background-color: #F7F7F7;
    height: 3vw;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1vw;
    border-radius: 20px;
    transition: border 0.3s ease;
}

.choice:hover{
    border: 1px solid gray;
}

.reason-details,
.view-notes-textarea{
    width: 28vw;
    height: 20vh;
    border: none;
    border-radius: 15px;
    background-color: #F7F7F7;
    resize: none;
    padding: 1vw;
    margin-right: 2vw;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.submit-report{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    height: 3vh;
    width: 5vw;
    padding: 1vw;
    border-radius: 20px;
    color: white;
    border: none;
    background-color: red;
    transition: transform 0.3s ease;
}

.submit-report:hover{
    transform: scale(1.2);
}

.submit-note{
    background-color: #20C073;
    border: none;
    border-radius: 15px;
    color: white;
    height: 3vh;
    width: 10vh;
    transition: background-color 0.3s ease;
    font-size: 0.8vw;
}

.submit-note:hover{
    background-color: black;

}

.date-filed{
    color: gray;
    font-size:0.8vw;
}