.upload-container{
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1000;
    top:0;
    left:0;
}

.main-card{
    position: fixed;
    background-color: white;
    width: 25vw;
    height: 25vh;
    border-radius: 15px;
    top: 10px;
}

.card-header{
    font-weight: bold;
    text-align: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-bottom: 1px solid lightgray;
}