.upload-container{
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1000;
    top:0;
    left:0;
}

.main-card{
    position: fixed;
    background-color: white;
    width: 25vw;
    height: auto;
    border-radius: 15px;
    top: 30%;
    left: 40%;
}

.card-header{
    font-weight: bold;
    text-align: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-bottom: 1px solid lightgray;
}

.upld-btn{
    width: 100%;
    height: 8vh;
    text-align: center;
    justify-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

#file-name{
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10%;
    margin-top: 4vh;
    font-size:1vw;
}

.save-pic, 
.close-btn{
    width: 100%;
}

.save-pic button, 
.close-btn button{
    border:none;
    background-color: white;
    color: black;
    width: 100%;
    font-weight: bold;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.save-pic button:hover{
    background-color: #49B2FF;
    color: white;
}

.close-btn button:hover{
    background-color: gray;
    color: white;
}
.close-btn button{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}