body {
    padding: 0;
    margin: 0;
}

.login-art-body {
    position: relative;
    width: 50%;
    float: left;
    background-image: url('../assets/login-art.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75% 25%;
    z-index: 0; 
   
}
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}
.login-art-body .login-art-header, .login-art-body .login-art-subheader{
    text-align: center;
}
.login-art-header{
    position: relative;
    color: white;
    font-size:400%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-bottom: 2px;
    margin-top: 25vh;
    z-index: 2;
}
.login-art-subheader{
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
}
.login-logo {
    position: relative;
    padding-top: 20px;
    padding-left: 55px;
    width: 10vw;
    z-index: 2;
}

.login-container {
    display: flex;
    height: 100vh;
    overflow-y: none;
}

.login-body {
    padding-top: 10%;
    width: 50%;
    float: right;
    box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.3);
    z-index: 5;
    text-align: center;
}

.login-art {
    width: 80%;
    height: 80%;
    margin-left: 60px;
}
.header {
    color: #20c073;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 250%;
    margin-top: 5vh;
    margin-bottom: 0px;
}

.email,
.password {
    color: #9f9e9e;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin-left: 20%;
    text-align: left;
}

.email-input,
.password-input {
    height: 45px;
    width: 60%;
    padding-left: 1vw;
    border-radius: 8px;
    border-width: 1px;
    border-color: black;
}

input::placeholder {
    color: #9f9e9e;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    font-weight: 100;
    padding-left: 5px;
}

.login-btn {
    height: 45px;
    width: 60%;
    border: none;
    background-color: #20c073;
    opacity: 0.47;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: opacity 0.3s ease,
}

.login-btn:hover {
    opacity: 1;
}

.prompt {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #9f9e9e;
    font-size: 10px;
    margin-left: 40px;
}

.login-status-container{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 15vh;
    margin-top: 2vh;
    justify-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    animation: slideDown 0.3s ease;
}

.login-status {
    display: flex;
    width: 40%;
    height: 15vh;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.status-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.status-btn-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-button {
    width: 70%;
    height: 4vh;
    background-color: #49B2FF;
    color: white;
    border: none;
    font-size: 1vw;
    transition: background-color 0.3s ease;
    margin-top: 3vh;
}

.status-button:hover {
    background-color: black;
}

.status-message-container {
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat-mess-accepted,
.stat-mess-not-accepted {
    margin-left: 1vw;
    font-size: 1.5vw;
    margin-bottom: 0;
    margin-top: 0;

}

.sub-message {
    margin-top: 0;
    margin-left: 1vw;
    font-size: 0.8vw;
    color: gray;
}

@keyframes slideDown {
    from{
        transform: translateY(-40%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}