body{
    padding: 0;
    margin: 0;
}

.main-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.user-info-container{
    width: 29%;
}

.additional-info-container{
    width: 29%;
}

.analytics-container{
    width: 40%;
}

.user-info,
.chart-container,
.answered-questions-container,
.conditions-container,
.chart-breakdown-container{
    background-color: white;
    border-radius: 15px;
    border: none;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 3vh;
}

.chart-container{
    margin-bottom: 2vh;
}
.profile-pic-container{
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 3vh;
    border-bottom: 1px solid gray;
}

.profile-img{
    width: 8vw;
    height: 8vw;
}

.patient-name{
    font-weight: bold;
    font-size: 1vw;
    margin-bottom: 0;
}
.patient-email{
    color: gray;
    font-size: 0.8vw;
    margin-top: 0.7vh;
}

.additional-user-info-header,
.data-header{
    color: gray;
    font-size: 0.6vw;
}


.main-data{
    margin-top: 0;
}

.analytics-header{
    margin-top: 0;
}

.analytics-header{
    font-weight: bold;
    color: gray;
    font-size: 0.7vw;
}

.conditions-group{
    display: flex;
    margin-bottom: 2vh;
    gap: 1vw;
}

.conditions-container{
    width: 100%;
}

.conditions-container{
    text-align: center;
    padding: 0;
}

.call-chat-container{
    position: fixed;
    background-color: red;  
    right: 0;
    top: 0;
    display: flex;
    height: 100vh;
}

.function-buttons{
    margin-top: 90vh;
}