body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-content{
    display: flex;
    width: 100%;
    height: auto;
}

.doctor-data{
    width: 30%;
    height: auto;
}

.doctor-data-2,
.doctor-data-3{
    background-color: white;
    border-radius: 15px;
    padding-bottom: 5%;
    height: auto;
    margin-bottom: 2.5vh;
}
.profile-pic-container{
    width: 100%;
    justify-items: center;
    border-bottom: solid 1px #C0C0C0;
}

.profile-pic-container button img{
    width: 6vw;
    height: 12vh;
    margin: 0;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}


.profile-pic-container button{
    padding: 0;
    border-radius: 50%;
    width: 6vw;
    height: 12vh;
    border: none;
}
.pic-container{
    position:relative;
    transition: filter 0.5s ease;
    padding-top:10%;
}

.pic-container:hover:not(.plus-icon, .change-photo-icon){
    filter: brightness(50%);
    cursor: pointer;

}

.profile-pic-container:hover .plus-icon{
    opacity: 1;
    filter: brightness(100%);

}

.plus-icon{
    position:absolute;
    opacity: 0;
    top: 35%;
    left: 25%;
    width: 3vw;
    height: 3vh;
    transition: opacity 0.5s ease;
}

.change-photo-icon{
    position:absolute;
    bottom: 0px;
    right: 7px;
    width: 20%;
    height: 20%;
}

.doc-name{
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 0px;
}

.doc-prof{
    font-size: 0.7vw;
    margin-top: 1vh;
    color: #20C073;
    margin-bottom: 3vh;

}

.following-data{
    margin-top: 1vh;
    justify-content: center;
    justify-items: center;
}

.spec-container,
.age-yrs-gender-group,
.license-group,
.address-group,
.email-group{
    width: 80%;
    
}

.spec-header,
.age-yrs-gender-group{
    display: flex;
    justify-content: space-between;
}

.spec-list-container{
    display: flex;

}

.rt-data{
    border-radius: 15px;
    border: 1px solid #49B2FF;
    color: #49B2FF;
    background-color: rgba(73, 178, 255, 0.5);;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 0.6vw;
    margin-right: 10px;
}

.data-header{
    color: black;
    font-size: 0.7vw;
    font-weight: lighter;
    margin-bottom: 1vh;
}

.actual-data{
    font-size: 1vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
    font-weight: bold;
}

.other-data{
    width: 55%;
    margin-left: 2%;
    height: auto;
}

.od-content{
    background-color: white;
    height: auto;
    width: 100%;
    padding-bottom: 5.8vh;
    border-radius: 15px;
}

.tabs{
    width: 15%;
    padding-top: 2%;
}

.qst-tab,
.credenials-tab,
.about-me-tab,
.add-qst-tab,
.edit-qst-tab{
    width: 100%;
    height: auto;
}




.qst-tab button, 
.credenials-tab button,
.about-me-tab button,
.add-qst-tab button,
.edit-qst-tab button{
    width: 25%;
    height: 5vh;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: width 0.5s ease;
    display: flex;
}   

.qst-tab button:hover,
.credenials-tab button:hover,
.about-me-tab button:hover,
.add-qst-tab button:hover,
.edit-qst-tab button:hover{
    width: 100%;
}

.qst-tab img,
.credenials-tab img,
.about-me-tab img,
.add-qst-tab img{
    width: 80%;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    transition: transform 0.5s ease;
}

.edit-qst-tab img{
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    height: 60%;
    transition: transform 0.5s ease;
}

.qst-tab button:hover img,
.credenials-tab button:hover img,
.about-me-tab button:hover img,
.add-qst-tab button:hover img,
.edit-qst-tab button:hover img{
    transform: translateX(10%);
}

.qst-tab button p,
.credenials-tab button p,
.about-me-tab button p,
.add-qst-tab button p,
.edit-qst-tab button p{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 1vw;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.5s ease, opacity 0.5s ease;
}

.qst-tab button:hover p,
.credenials-tab button:hover p,
.about-me-tab button:hover p,
.add-qst-tab button:hover p,
.edit-qst-tab button:hover p{
    max-width: 100%;
    opacity: 1;
}

.qst-tab button{
    background-color: #49B2FF;
}

.credenials-tab button{
    background-color: #B36EC4;
}

.about-me-tab button{
    background-color: #FF7373;
}

.add-qst-tab button{
    background-color: #20C073;
}

.edit-qst-tab button{
    background-color: grey;
}

.add-qst-tab,
.edit-qst-tab {
    opacity: 0;
    transform: translateY(-20px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.add-qst-tab.show,
.edit-qst-tab.show {
    opacity: 1;
    transform: translateY(0); 
}

.edit-qst-tab.show{
    margin-bottom: 5vh;
}

.get-started-container{
    margin-left: 2vw;
}

.get-started-header{
    font-weight: bold;
    font-size: 2.5vw;
    color:#004624;
    margin-top: 0px;
}

.get-started-sub-header{
    font-weight: light;
    font-size: 1vw;
    color:#004624;
}

