body{
    margin: 0;
    padding: 0;
}

.content{
    height: 100%;
    width: 82%;
    float: right;
    margin-bottom: 50px;
}

.empty{
    height: 100%;
    width: 18%;
}

.page-container{
    height: 100%;
    width: 100%;
}

.header{
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    color: #20C073;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.header-container{
    width: 93%;
    height: 250px;
    margin-left: 40px;
    display: flex;
}

.profile-pic{
    height: 100%;
    width: 250px;
    text-align: center;
    justify-content: center;
}
.pp-btn1{
    height: 100%;
    width: 100%;
    background-color: white;
    border:none;
}

.pp-btn{
    height: auto;
    width: auto;
    border: none;
    background-color: white;
}

.pp-btn:hover, .pp-btn1:hover{
    background-color: lightgray;
    cursor: pointer;
}

.pp-btn img:hover{
    opacity: 0.5;
}
.more-info{
    height: 100%;
    width: 70%;
    margin-left: 40px;
    border-bottom: 2px solid lightgrey;
}

.name, .prof, .em-spec, .age-gen-yrs-lic, .about, .creds, .works, .address, .grad, .res, .quest{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #20C073;
}

.name{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: bold;
}

.prof{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 0px;
}

.em-spec, .age-gen-yrs-lic{
    display: flex;
    margin-top: 5px;
    font-size: 15px;
}

.em{
    margin-left: 220px;
}

.gen, .lic, .yrs{
    margin-left: 40px;
}

.btns{
    display: flex;
}

.about, .creds, .quest{
    height: 50px;
    width: 100px;
    font-weight: bold;
    background-color: white;
    border: none;
}

.about:hover, .creds:hover, .quest:hover{
    background-color: #20C073;
    color: white;
}

.ctnt-body{
    width: 93%;
    height: 100%;
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
}

.more-deats{
    border-top: 2px solid lightgray;
    height: 100%;
    width: 250px;
}

.more-deats button{
    background-color: transparent;
    border: none;
}

.abt-cred-ctnt{
    height: 100%;                           
    width: 70%;
    margin-left: 40px;
}

.works, .grad, .res{
    font-weight: bold;
    font-size: 20px;
}

.grad-container{
    display: flex;
}

.grad-container button{
    float:right;
}

.grad-textarea{
    resize: none;
}

