body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-content{
    display: flex;
    width: 100%;
    height: 100%;
}

.doctor-data{
    background-color: white;
    border-radius: 15px;
    width: 30%;
}

.profile-pic-container{
    width: 100%;
    justify-items: center;
    border-bottom: solid 1px #C0C0C0;
}

.profile-pic-container button img{
    width: 6vw;
    height: 12vh;
    margin: 0;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}


.profile-pic-container button{
    padding: 0;
    border-radius: 50%;
    width: 6vw;
    height: 12vh;
    border: none;
}
.pic-container{
    position:relative;
    transition: filter 0.5s ease;
    margin-top:10%;
}

.pic-container:hover:not(.plus-icon, .change-photo-icon){
    filter: brightness(50%);
    cursor: pointer;

}

.profile-pic-container:hover .plus-icon{
    opacity: 1;
    filter: brightness(100%);

}

.plus-icon{
    position:absolute;
    opacity: 0;
    top: 35%;
    left: 25%;
    width: 3vw;
    height: 3vh;
    transition: opacity 0.5s ease;
}

.change-photo-icon{
    position:absolute;
    bottom: 0px;
    right: 7px;
    width: 20%;
    height: 20%;
}

.doc-name{
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 0px;
}

.doc-prof{
    font-size: 0.7vw;
    margin-top: 1vh;
    color: #20C073;
    margin-bottom: 3vh;

}

.following-data{
    margin-top: 3vh;
    justify-content: center;
    justify-items: center;
}

.spec-container,
.age-yrs-gender-group,
.license-group,
.address-group,
.email-group{
    width: 80%;
}

.license-group,
.address-group,
.email-group{
    margin-bottom: 4vh;
}
.spec-header,
.age-yrs-gender-group{
    display: flex;
    justify-content: space-between;
}

.spec-list-container{
    display: flex;

}

.rt-data{
    border-radius: 15px;
    border: 1px solid #49B2FF;
    color: #49B2FF;
    background-color: rgba(73, 178, 255, 0.5);;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 0.5vw;
    margin-right: 10px;
}

.data-header{
    color: #D9D9D9;
    font-size: 15px;
}
