body{
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-content{
    background-color: white;
    border-radius: 15px;   
    width: 78vw;
    height: 83vh;
    display: flex;
    margin-bottom: 2%;
    position: absolute;

}

.profile-details{
    width: 50%;
    height: 100%;
    position: absolute;
}

.profile-credentials{
    position: absolute;
    right: 0px;
    width: 50%;
    height: 100vh;
}

.profile-pic-container{
    padding-top: 3vh;
    display: flex;
    height: 20vh;
    justify-content: center;
    padding-top: 9%;
    padding-bottom: 0px;
}

.age-yrs-gender-box{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.medical-data-container{
    display: flex;
    gap: 5vw;
}

.medical-box{
    padding-left: 20%;
}

.address-box,
.email-box{
    padding-left: 20%;
    padding-right: 20%;
}

.category {
    color: #D9D9D9;
    font-size: 15px;
}

.ctnt{
    font-weight: bold;
}
.btn-container{
    position: absolute;
    bottom: 0px;
    display: flex;
    height: 7%;
}

.approve,
.delete,
.verify{
    width: 13vw;
    transition: background-color 0.5s ease;
    border:none;
    background-color: white;
}

.approve{
    border-bottom-left-radius: 15px;
}

.approve:hover{
    background-color: #20C073;
    color: white;
}

.delete:hover{
    background-color: red;
    color: white;
}

.verify:hover{
    background-color: #49B2FF;
    color: white;
}

.del-veri-form,
.approve-form{
    display: flex;
}

.profile-pic-container img{
    width: 10vh;
    height: 10vh;
}

.profile-name-container{
    margin-left: 2vw;
}

.user-name{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.prof{
    font-weight: light;
    font-size: 15px;
    color: #20C073;
    margin-top: 0px;
}

.spec-container{
    display: flex;
}

.spec-container div{
    border-radius: 15px;
    border: 1px solid #49B2FF;
    color: #49B2FF;
    background-color: rgba(73, 178, 255, 0.5);;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
    margin-right: 10px;
    width: auto;
}

.credential-header-container{
    text-align: center;
    color:#004624;
    font-size: 1vw;
    font-weight: bold;
    margin-top: 2vh;
}

.file-container{
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filetitle-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    padding: 1vh 1vw;
    gap: 2vw;
    transition: background-color 0.3s ease;
}

.filetitle-wrapper:hover{
    background-color: gray;
}

.filetitle-wrapper img{
    height: 2vw;
    width: 2vw;
}

.image-preview{
    align-items: center;
    justify-content: center;
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from{
        opacity: 0;
        transform: translateY(-20%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.image-preview img{
    max-height: 40vh;
    max-width: 30vw;
}