body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.summary-header-container{
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: space-between;
}

.doctor-count-container,
.patient-count-container,
.report-count-container,
.request-count-container,
.archive-count-container{
    width: 19%;
    height: 15vh;
    background-color: white;
    border-radius: 15px;
    
}

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1vw;
}

.icon-container-1,
.icon-container-2,
.icon-container-3,
.icon-container-4,
.icon-container-5{
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container-1 img,
.icon-container-2 img,
.icon-container-3 img,
.icon-container-4 img,
.icon-container-5 img{
    height: 2vw;
    width: 2vw;
}

.icon-container-1{
    border: 0.2vw solid #49B2FF;
    background-color: #99d2fc;
}

.icon-container-2{
    border: 0.2vw solid #20C073;
    background-color: #25e086;
}

.icon-container-3{
    border: 0.2vw solid #FF3333;
    background-color: #f39b9b;
}

.icon-container-4{
    border: 0.2vw solid #6E0089;
    background-color: #f0bdfd;
}

.icon-container-5{
    border: 0.2vw solid #FF851A;
    background-color: #FFAD5C;
}

.counter-label{
    font-size: 0.6vw;
    font-weight: bold;
    color: gray;
    margin-bottom: 0;
    margin-top: 1.5vh;
}

.counter-data{
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
    margin-top: 0.5vh;
    margin-bottom: 0.3vh;
}

/* .doctor-count-icon{
    filter: invert(56%) sepia(93%) saturate(888%) hue-rotate(179deg) brightness(100%) contrast(102%);
} */

/* .icon-container-1 img{
    filter: invert(56%) sepia(93%) saturate(888%) hue-rotate(179deg) brightness(100%) contrast(102%); 
} */

/* .count-container-1,
.count-container-2,
.count-container-3{
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.count-container-1{
    color: #20c073;
    border: 5px solid #20c073;
}

.count-container-2{
    color:  #49B2FF;
    border: 5px solid #49B2FF;
}

.count-container-3{
    border: 5px solid red;
}

.content-wrapper{
    font-weight: bold;
    color: #004624;
    width: 100%;
    text-align: center;
    justify-items: center;
} */

.upload-header-container{
    display: flex;
    justify-content: space-between;
}

.upload-header{
    font-weight: bold;
    color: gray;
    font-size: 1vw;
}

.upload-container{
    border-radius: 15px;
    overflow: hidden;
    border: none;
}

.vid-list{
    display: flex;
    overflow-x: scroll;
    gap: 2vw;
}

.vid-list::-webkit-scrollbar{
    height: 1vh;

}

.vids{
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.vids:hover{
    transform: scale(1.1);
    background-color: lightgray;
}

.upld-btn{
    margin-top: 3vh;
    height: 3vh;
    width: 7vw;
    border-radius: 5px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    color: white;
    gap: 0.5vw;
    background-color: #49B2FF;
    transition: background-color 0.3s ease;
}

.upld-btn img{
    filter: invert(100%);
    height: 1vh;
    width: 0.5vw;
}

.upld-btn:hover{
    background-color: black;
}



.video-data{
    max-height: 50vh;
    width: 30vw;
}

.vid-title{
    font-weight: bold;
}

.vid-title-input{
    font-weight: bold;
    font-size: 1vw;
    margin-bottom: 0;
    border-radius: 5px;
    border: solid 1px gray;
    height: 5vh;
    width: 96%;
    padding-left: 1vw;
}

.vid-descrip{
    height: 10vh;
    width: 96%;
    resize: none;
    padding-left: 1vw;
    border-radius: 5px;
    border: solid 1px gray;
    font-size: 1vw;
}

.vid-details{
    margin-top: 0;
}

.upld-screen{
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    z-index: 9999;
    display: flex;
   
}

.upld-card{
    background-color: white;
    border: none;
    border-radius: 15px;
    height: auto;
    width: 40vw;
    animation: slideDown 0.3s ease;
    margin: auto;
    margin-top: 7vh;
}

@keyframes slideDown {
    from{
        transform: translateY(-30%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;

    }
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

.card-header p{
    font-weight: bold;
}

.card-header button{
    background-color: transparent;
    color: gray;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-header button:hover{
    background-color: lightgrey;
    transform: scale(1.1);
}

.upload-vid-container{
    background-color: rgb(197, 197, 197);
    margin-left: 1vw;
    margin-right: 1vw;
    height: 20vh;
    border:none;
    border-radius: 15px;
    text-align: center;
}

.title-container,
.description-container{
    padding-left: 1vw;
    padding-right: 1vw;
}

.title-container p,
.description-container p{
    color: gray;
    font-size: 1vw;
    margin-bottom: 1vh;
}
.upld-vid-label:hover{
    cursor: pointer;
    background-color: gray;
}

.label-container{
    height: 20vh;
}

.label-container img{
    margin-top: 2vh;
}

.upload-btn{
    background-color: #49B2FF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    height: 5vh;
    width: 10vw;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.upload-btn:hover{
    background-color: black;
    transform: scale(1.1);
}