body{
    margin: 0;
    padding: 0;
}
.deactivate-btn-container{
    position: fixed;
    bottom: 4%;
    right: 1%;
    width: 9vh;
}

.d-btn img{
    width: 5vh;
    height: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    padding-left:6px;
}

.d-btn{
    border: none;
    border-radius: 50%;
    background-color: red;
    width: 9vh;
    height: 9vh;
    display: flex;
    transition: transform 0.5s ease, width 0.5s ease, border-radius 0.5s ease;
}
.d-btn p{
    margin-left:10px;
    opacity: 0;
    visibility: hidden;
    margin-top: auto;
    margin-bottom: auto;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    color: white;
}

.d-btn:hover p{
    opacity: 1;
    visibility: visible;
}
.d-btn:hover{
    text-align: left;
    width: 25vh;
    border-radius:15px;
    transform: translateX(-100px);
}