body {
    padding: 0;
    margin: 0;
}

.main-content{
    display: flex;
    height: 100%;
    width: 100%;
    /* position: absolute; */
}

.doctor-data{
    width: 64%;
    height: auto;
    background-color: white;
}

.doctor-lists{
    margin-left: 2%;
    width: 34%;
}

.patient-list{
    background-color: white;
    border-radius: 15px;
}
.profile-data-header{
    display: flex;
}

.patient-header{
    margin-top: 0;
}