body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-content{
    display: flex;
    height: 100%;
    width: 100%;
}

.doctor-details{
    width: 64%;
    height: 87vh;
    overflow: auto;
    overflow-x: hidden;
}

.doctor-details::-webkit-scrollbar{
    width: 1vw;
}

.doctor-data, 
.credential-container,
.description-container{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.patient-header-container{
    display: flex;
    align-items: center;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 2vw;
    justify-content: space-between;
}

.patient-name,
.patient-condition{
    margin-top: 0;
    margin-bottom: 0;
}

.patient-name{
    font-size: 1.2vw;
    color: black;
    font-weight: bold;
}

.patient-condition{
    font-size: 0.6vw;
    color: gray;
}

.patient-condition-wrapper{
    display: flex;
}

.patient-count{
    color: #ADADAD;
    font-size: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.doctor-lists{
    margin-left: 2%;
    width: 34%;
}

.patient-list-container{
    background-color: white;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.patient-list-container::-webkit-scrollbar{
    display: none;
}

.empty-container{
    display: flex;
    justify-content: center;
    align-items:center;
    color: gray;
    height: 20vh;
}

.patient-list,
.main-appointments-container{
    background-color: white;
}

.patient-list-wrapper{
    margin-top: 1vh;
    padding-left: 2vw;
    border: none;
    height: 10vh;
    background-color: white;
    width: 100%;
    align-items: center;
    text-align: left;
    display: flex;
    gap: 2vw;
}



.patient-profile-img{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}

.patient-list-btn:hover{
    background-color: #F7F7F7;
}

.profile-data-header{
    display: flex;  
    justify-content: center;
    padding-top: 5vh;
}
.profile-pic-container{
    text-align: center;
}

.profile-pic-container img{
    width: 7vw;
    height: 7vw;
}
.profile-name-container{
    margin-left: 5%;
}
.user-name{
    margin-bottom: 0px;
}

.user-name, 
.prof{
    margin-top: 0px;
}

.user-name{
    font-weight: bold;
    font-size: 2vw;
}

.prof{
    font-weight: light;
    font-size: 1vw;
    color: #20C073;
    margin-bottom: 0;

}

.spec-container, 
.age-yrs-gender-box,
.picture-container{
    display: flex;
}

.spec-container{
    margin-top: 1vh;
}

.spec-container div{
    border-radius: 15px;
    border: 1px solid #49B2FF;
    color: #49B2FF;
    background-color: rgba(73, 178, 255, 0.5);;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 50%;
    margin-right: 10px;
}
.more-details-container{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 6%;
}

.age-yrs-gender-box{
    margin-top: 3vh;
    gap: 7vw;
}

.details-box{
    margin-top: 5vh;
}

.category{
    color: gray;
    font-size: 1vw;
}

.ctnt{
    font-weight: bold;
}

.credential-container,
.description-container{
    margin-top: 2%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 5%;
}

.credential-header,
.patient-header,
.description-header{
    color:#004624;
    font-size: 2vw;
    font-weight: bold;
    padding-left: 5%;
}

.description-details-container{
    margin-left: 5%;
    margin-right: 5%;
}

.patient-header{
    margin-top: 0px;
    margin-bottom: 0px;
}

.picture-container{
    width: 100%;
    justify-content: space-between;
}

.image-display img{
    width: 100%;
    max-height: 76vh;
    border-radius: 15px;
}

.picture-container button{
    width: 10%;
    border: none;
    background-color: white;
    transition: background-color 0.5s ease;
}

.picture-container button:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.picture-container button:hover img{
    filter:invert(100%);
}

.deactivate-btn-container{
    position: fixed;
    bottom: 4%;
    right: 1%;
    width: 9vh;
}

.d-btn img{
    width: 5vh;
    height: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    padding-left:0.5vw;
}

.d-btn{
    border: none;
    border-radius: 50%;
    background-color: red;
    width: 9vh;
    height: 9vh;
    display: flex;
    transition: transform 0.5s ease, width 0.5s ease, border-radius 0.5s ease;
}
.d-btn p{
    margin-left:10px;
    opacity: 0;
    visibility: hidden;
    margin-top: auto;
    margin-bottom: auto;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    color: white;
}

.d-btn:hover p{
    opacity: 1;
    visibility: visible;
}
.d-btn:hover{
    text-align: left;
    width: 25vh;
    border-radius:15px;
    transform: translateX(-100px);
}

.search-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #ADADAD;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

.input-container{
    width: 90%;
    height: 5vh;
    background-color: #E7E7E7;
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
    justify-content: space-between;
    transition: background-color 0.5s ease;
}

.search-input{
    padding-left:20px;
    width: 80%;
    border: none;
    background-color: #E7E7E7;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.5s ease;
}

.search-input:hover,
.input-container:hover{
    background-color: white;
}

.input-container img{
    height: 3vh;
    width: 3vh;
    margin-top: auto;
    margin-bottom: auto;
}

.profile-img{
    border-radius: 50%;
    height: 10vh;
    width: 10vw;
}

.medical-data-container{
    display: flex;
    gap: 5vw;
}

.file-container{
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filetitle-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    padding: 1vh 1vw;
    gap: 2vw;
    transition: background-color 0.3s ease;
}

.filetitle-wrapper:hover{
    background-color: gray;
}

.filetitle-wrapper img{
    height: 2vw;
    width: 2vw;
}

.image-preview{
    align-items: center;
    justify-content: center;
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from{
        opacity: 0;
        transform: translateY(-20%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.image-preview img{
    max-height: 40vh;
    max-width: 30vw;
}

.changes-button{
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: red; */
}

.viewChanges,
.acceptChanges,
.declineChanges{
    background-color: transparent;
    border: none;
    padding: 2vh 2vw;
}

.acceptChanges,
.declineChanges{
    transition: background-color 0.3s ease, color 0.3s ease;
}

.acceptChanges:hover{
    background-color: #49B2FF;
    color: white;
}

.declineChanges:hover{
    background-color: rgb(255, 111, 111);
    color: white;
}

.viewChanges p{
    margin-bottom: 0;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.viewChanges:hover p{
    color:#20C073;
}

.change-name,
.change-profession,
.change-age,
.change-years,
.change-gender,
.change-address,
.change-license,
.change-issued,
.change-expire,
.change-descrip{
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(255, 128, 128);

}