body {
    padding: 0;
    margin: 0;
}

.main-content{
    display: flex;
    height: 100%;
    width: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    /* position: absolute; */
}

.doctor-data{
    width: 64%;
    height: auto;
    background-color: white;
    border-radius: 15px;

}

.doctor-lists{
    margin-left: 2%;
    width: 34%;
}

.patient-list{
    background-color: white;
    border-radius: 15px;
    padding-top: 20px;
}
.profile-data-header{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}
.profile-pic-container{
    text-align: center;
}

.profile-name-container{
    margin-left: 5%;
}
.user-name{
    margin-bottom: 0px;
}

.user-name, 
.prof{
    margin-top: 0px;
}
