body{
    padding: 0;
    margin: 0;
}

.search-container{
    display: flex;
    justify-content: space-between;
    color: #ADADAD;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.input-container{
    width: 40%;
    background-color: #E7E7E7;
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
    justify-content: space-between;
    transition: background-color 0.5s ease;
}

.search-input{
    padding-left:20px;
    width: 80%;
    border: none;
    background-color: #E7E7E7;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.5s ease;
}

.search-input:hover,
.input-container:hover{
    background-color: white;
}

.input-container img{
    height: 40px;
    width: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.tickets-container{
    height: 80vh;
    margin-top: 1vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw;
    background-color: transparent;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ticket-details-container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    height: 40vh;
    width: 15vw;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 1vw;
}

.ticket-details-container p{
    font-size: 0.7vw;
}
.report-details{
    resize: none;
    min-height: 25vh;
    width: 85%;
    border-radius: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
}