body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}


.sideBar {
    height: 94%;
    width: 18%;
    position: fixed;
    background-color:#20C073;
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 15px;
}

.sidebar-content .user-txt{
    text-align: center;
    margin-top: 5%;
    color: white;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.avatar-container{
    width: 100%;
    text-align: center;
    height: auto;
    margin-top: 15%;
    color: white;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dashboard-btn,
.doctor-btn,
.patient-btn,
.request-btn,
.reports-btn,
.archive-btn,
.logout-btn{
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    color:  white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;
    /* border: none; */
}



.dashboard-btn:hover,
.doctor-btn:hover,
.patient-btn:hover,
.request-btn:hover,
.reports-btn:hover,
.archive-btn:hover,
.logout-btn:hover{
    justify-content: left;
    padding-left: 15%;
}

/* .sideBar {
    height: 100%;
    width: 18%;
    border-right: 1px solid lightgray;
    position: fixed;
}

.logo {
    padding-left: 50px;
    padding-top: 20px;
    height: 30px;
    width: 100px;
}

.avatar {
    height: 80px;
    width: 80px;
    padding-left: 70px;
    padding-top: 30px;
}

.name {
    padding-left: 60px;
    padding-top: 1px;
    font-size: 15px;
    color: #20c073;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.dashboard-container {
    display: flex;
    height: 30px;
}

.dashboard-btn {
    display: flex;
    background-color: white;
    border: 0;
    width: 100%;
    padding-left: 20px;
    color: #20c073;
}

.dashboard-btn:hover {
    background-color: #20c073;
    color: white;
    cursor: pointer;
}

.icon1 {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    margin-top: 3px;
}
.icon1-txt {
    margin: 0;
    margin-top: 8px;
    font-size: 12px;
}

.user-txt {
    padding-left: 20px;
    padding-top: 5px;
    font-size: 15px;
    color: #20c073;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

.archive-container,.doctors-container, .patient-container,.request-container, .reports-container{
    display: flex;
    height: 30px;
    margin-top: 20px;
}

.archive-btn, .doctor-btn, .patient-btn, .request-btn, .reports-btn, .logout-btn{
    display: flex;
    background-color: white;
    border: 0;
    width: 100%;
    padding-left: 20px;
    color: #20c073;
}

.archive-btn:hover, .doctor-btn:hover, .patient-btn:hover, .request-btn:hover, .reports-btn:hover, .logout-btn:hover{
    background-color: #20c073;
    color: white;
    cursor: pointer;
}   

.icon2, .icon3, .icon4, .icon6, .icon7, .icon5{
    margin-right: 10px;
    height: 20px;
    width: 20px;
    margin-top: 3px;
}

.icon2-txt, .icon3-txt, .icon4-txt, .icon7-txt, .icon5-txt, .icon6-txt{
    margin: 0;
    margin-top: 8px;
    font-size: 12px;
}
 .logout-container{
    display: flex;
    height: 30px;
    margin-top: 40px;
 } */